<footer class="px-3 pt-5 border-top d-flex flex-column align-items-center">
  <div class="container w-100">
    <div class="d-flex w-100 gap-4 justify-content-between flex-wrap">
      <div class="d-flex flex-column gap-2">
        <h2 class="text-16">Acerca de</h2>
        <p class="text-16"><a href="" class="text-decoration-none text-black">Sobre Change.org</a></p>
        <p><a href="" class="text-decoration-none text-black">Impacto</a></p>
        <p><a href="" class="text-decoration-none text-black">Empleo</a></p>
        <p><a href="" class="text-decoration-none text-black">Equipo</a></p>
      </div>
      <div class="d-flex flex-column gap-2 ">
        <h2 class="text-16">Comunidad</h2>
        <p><a href="" class="text-decoration-none text-black">Prensa</a></p>
        <p><a href="" class="text-decoration-none text-black">Normas de la comunidad</a></p>
      </div>
      <div class="d-flex flex-column gap-2">
        <h2 class="text-16">Ayuda</h2>
        <p><a href="" class="text-decoration-none text-black">Ayuda</a></p>
        <p><a href="" class="text-decoration-none text-black">Guias</a></p>
        <p><a href="" class="text-decoration-none text-black">Privacidad</a></p>
        <p><a href="" class="text-decoration-none text-black">Terminos</a></p>
        <p><a href="" class="text-decoration-none text-black">Declaracion de accesibilidad</a></p>
        <p><a href="" class="text-decoration-none text-black">Politica de cookies</a></p>
        <p><a href="" class="text-decoration-none text-black">Gestionar cookies</a></p>
      </div>
      <div class="d-flex flex-column gap-2 ">
        <h2 class="text-16">Redes sociales</h2>
        <p><a href="" class="text-decoration-none text-black">X</a></p>
        <p><a href="" class="text-decoration-none text-black">Facebook</a></p>
        <p><a href="" class="text-decoration-none text-black">Instagram</a></p>
        <p><a href="" class="text-decoration-none text-black">Tiktok</a></p>
      </div>
    </div>
    <hr class="w-100 my-5">
    <div class="d-flex gap-2 my-5 justify-content-between">
      <div>
        <p><strong>© 2025, Change.org, PBC</strong></p>
        <p>Esta web está protegida por reCAPTCHA y por Google Política de privacidad y Normas de
          uso.</p>
      </div>
      <div class="m-auto d-flex">
        <select name="idioma" id="idioma" class="form-select form-select-lg mb-3 border-dark">
          <option value="spain">Español(españa)</option>
          <option value="english">English (Uk)</option>
        </select>
      </div>
    </div>
  </div>
</footer>
