.text-16 {
    font-size: 16px !important;
}

.start-25 {
    left: 25% !important;
}

.rounded-pop {
    border-radius: 100% !important;
}

.imgs {
    aspect-ratio: 1/1;
    width: 20% !important;
}
.bg-graynt{
    background-color: #FAF8FD
}
.paso-numero{
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
    font-weight: bold;
    position: relative;
}
.paso-item{
    position: relative;
}
@media screen and (min-width: 992px) {
    .paso-timeline .paso-item:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 20px; 
        left: calc(50% + 20px);
        
        width: calc(100% - 40px); 
        
        height: 1px;
        border-bottom: 2px dotted #ccc;
        transform: translateY(-50%);
        z-index: 5;
    }
}
@media screen and (max-width: 991.98px) {
    .paso-timeline .paso-item:not(:last-child) .paso-numero::after {
        content: '';
        position: absolute;
        width: 1px; 
        height: 120px; 
        
        top: 100%; 
        left: 50%; 
        
        border-right: 2px dotted #ccc;
        transform: translateX(-50%);
        z-index: 5;
    }
}