<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

  </head>

  <body>
    <header class="d-flex border-bottom">
      <div class="container d-flex justify-content-between align-items-center py-3">
        <div class="d-flex align-items-center gap-3">
          <div>
            <a href="" class="text-decoration-none text-danger">
            <h3><strong> change.org</strong></h3>
            </a>
          </div>
          <div class="d-lg-flex gap-3 d-none">
          @if (isLoggedIn()){
            <a href=""
            class="text-decoration-none text-black mx-auto"><strong> Mis peticiones</strong></a>
            <a href=""
            class="text-decoration-none text-black mx-auto"><strong> Peticiones firmadas</strong></a>

            <a href="" class="text-decoration-none text-black mx-auto"><strong> Mis
            peticiones</strong></a>
          } @else {
              <a href="/login"
                 class="text-decoration-none text-black mx-auto"><strong> Mis peticiones</strong></a>
              <a href="/login"
                 class="text-decoration-none text-black mx-auto"><strong> Peticiones firmadas</strong></a>
          }
            <a href="" class="text-decoration-none text-black"><strong> Programa de socios/as</strong></a>
            <a href="/petitions" class="text-decoration-none text-black"><strong><img
            src=""
            alt=""
            class="me-1">Buscar</strong></a>
          </div>
        </div>
        <div class="d-flex my-auto gap-3 gap-lg-4">
          <a href=""
          class="text-decoration-none text-black border border-dark p-2 rounded"><strong>Inicia
          una
          peticion</strong></a>
          @if (isLoggedIn()) {
            <button (click)="logout()"
                    class="btn btn-link text-decoration-none text-black p-0 border-0 my-auto">
              <strong>Salir</strong>
            </button>
          } @else {


          <a href="/login"
          class="text-decoration-none text-black my-auto"><strong>Entrar</strong></a>
          <a href="/register" class="text-decoration-none text-black my-auto"><strong>Registrarse</strong></a>
          }
        </div>
        <div class="d-flex d-md-none">
          <a href="/register"
          class="text-decoration-none text-black d-none d-sm-block"><img
          src=""
          alt="" class="me-1"></a>
          <div class="btn-group d-lg-none">
            <button type="button" class="btn btn-outline-dark" data-bs-toggle="dropdown"
                    aria-expanded="false">
              menu
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end text-center bg-transparent">
              <li>
                <a href="" class="text-decoration-none text-black mx-auto"> Mis
                  peticiones</a>
              </li>
              <li></li>
              <li>
                <a href="" class="text-decoration-none text-black">
                Buscar</a>
              </li>
              <li>
                <a href="" class="text-decoration-none text-black"> Entra o registrate</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>


  </body>

</html>
